 <h2>Sign Up</h2>
 
 <form class ="" action="index.html" method="post">
   <input type="text" name="name" value="">
   <input type="text" name="email" value="">
   <input type="submit" name="password" value="Create User">
 </form>