 <h2>Sign Up</h2>
 
 <form class ="" action="index.html" method="post">
   <input type="text" name="" value="">
   <input type="text" name="" value="">
   <input type="submit" name="" value="Create User">
 </form>