<h2>ALL TASKS</h2>

<% @tasks.each do |task| %>
<h4><a href="/tasks/<%= task.id %>"><%= task.content %></a></h4>
<p>Created at <%= task.created_at %></p>

<br>

<p>by <%= task.user.name %></p>

<br><br>
<% end %>