<h2>Create a New Entry!</h2>

<form class="" action="/tasks" method="post">
  <label for="content">Content:</label>
  <input type="text" name="content" value="">
  <input type="submit" name="" value="Create Entry0">
</form>