<h2>Show page for task</h2>

<p><%= @task.content %></p>


<% if authorized_to_edit?(@task) %>

<a href="/tasks/<%= @task.id %>/edit">Edit Entry</a>
<br><br>

<form class="" action="/tasks/<%= @task.id %>" method="post">
<input type="hidden" name="_method" value="DELETE">  
<input type="submit" name="" value ="Delete this entry">
  
</form>

<% end %>